<div id="page-content">
  <ul class="breadcrumb breadcrumb-top">
    <li>admin</li>
    <li><a href="admin_show_requests.html">requests</a></li>
  </ul>
  <div class="row">
    <div class="col-md-12">
      <div class="block">
        <div class="block-title">
          <h2><strong>Request</strong> Club</h2>
        </div>
        <form action="page_forms_general.html" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered" onsubmit="return false;">
          <div class="form-group">
            <label class="col-md-4 control-label" for="example-file-input">Logo</label>
            <div class="col-md-6">
              <img src="img/placeholders/avatars/avatar2.jpg" alt="avatar">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Company Name</label>
            <div class="col-md-6">
              <p class="form-control-static">Company name</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">club name</label>
            <div class="col-md-6">
              <p class="form-control-static">club name</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Email</label>
            <div class="col-md-6">
              <p class="form-control-static">CompanyEmail@example.com</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Location</label>
            <div class="col-md-6">
              <p class="form-control-static">255-257 Hùng Vương, Thanh Khê, Đà Nẵng</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Description</label>
            <div class="col-md-6">
              <p class="form-control-static">Consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus. Nam commodo turpis id lectus scelerisque vulputate.</p>
            </div>
          </div>
          <div class="form-group form-actions">
            <div class="text-center">
              <button type="submit" class="btn btn-lg btn-primary"><i class="fa fa-check"></i> approve</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
